.heading{
  color: orange;
}
.title{
  border-left:4px solid red ;
  height: 90px;
}
p{
  color: black;
  font-size: 300;
  display:flex;
}
button{
  color:white;
  background-color: red;
  border: none;
  height: 30px;
  width: 100px;
}
.div1{
  padding: 0;
  text-align: left;
  
}